* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
   
}

html {
	font-size: 10px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: Montserrat;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

section {
	padding-top: 10rem;
	padding-bottom: 10rem;
	text-align: center;
}



.btn-large {
	font-size: 2rem;		
	padding: 2.2rem 1.6rem;
}

.btn {
	margin-top:4rem; 	
	font-weight: 400;
	display: inline-block;
	border:2px solid transparent;
	border-radius: .4rem;
	cursor: pointer;
	transition: all .5s;
}

.btn-social {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	font-size: 2rem;
	line-height: 2rem;
}

.btn-outline {	
	color:#fff;
	border-color: #fff;	
	background-color: transparent;
}

.btn-outline:hover {
	color: #212529;
	background-color: #fff;	
}

.btn-primary {
	background-color: #669ACC;
	border-color: #18BC9C;
	color: #fff;
	padding: 1.2rem 1rem;
}

.btn-primary:hover {
	background-color: #128f76;
	border-color: #128f76;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: .5rem;
	padding-right: .5rem;
}

.text-uppercase {
	text-transform: uppercase;
}

/*navbar*/

nav {
	width: 100%;
	font-family: Montserrat;
	background-color: #2C3E50;
	color: #fff;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	position: fixed;
	z-index: 500;
}

#logo-box {
	float: left;
	padding-top: .5rem;
}

#logo-box .logo {
	color: #fff;
	font-weight: 700;
	font-size: 3.2rem;
}

#nav-links {
	float: right;
}

#nav-links .nav-item {
	float: left;
	margin: .4rem;
}

#nav-links .nav-link {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	display: block;
	padding: 1.6rem;
	letter-spacing: .1rem;
	transition: color .3s;
}

#nav-links .nav-link:hover {
	color: #18bc9c;
}


/*Header*/

header {
	background-color: #669ACC;
	padding-top:calc(112px + 10rem); 
	padding-bottom: 112px;
	text-align: center;
}

header h1 {
	color:  #fff;
	font-size: 6.4rem;
}

header h2 {
	color: #fff;
	font-size: 2.8rem;
	font-family: 'Lato';
	font-weight: 300;
}

header h3 {
	color: #fff;
	font-size: 2.2rem;
	font-family: 'Lato';
	font-weight: 300;
}


/* Portfolio */

#portfolio {
}

#portfolio h2 {
	font-size: 4.8rem;
	color: #2C3E50;
}

.col {
	float: left;
	width: 33.33333%;	
	padding: 10px;
}

.portfolio-item {
	position: relative;
}

.portfolio-item img {
	display: block;	
}



/*contact*/

#contact {
}

#contact h2 {
	font-size: 4.8rem;
	color: #2C3E50;
}

#contact-form {
	width: 70%;
	margin: 0 auto;
	
	
	text-align: left;
}

.form-group {
	border-bottom: 1px solid #e9ecef;
	padding-bottom: 3rem;
	margin-bottom: 4rem;
}


.form-group input,.form-group textarea {
	border: none;
	width: 100%;
	display: block;
	font-size: 2.4rem;
}

.form-group input:focus {
	outline: 0;
}

footer {
	padding-top: 6rem;
	padding-bottom: 6rem;
	background-color: #2C3E50;
	color: #fff;
	text-align: center;
    width:auto;
	
}

footer h4 {
	font-size: 2.4rem;
}

footer p {
	font-size: 2rem;
	margin-top: 1rem;
}

footer li {
	display: inline-block;
	margin-right: 1rem;
}

.copyright {
	background-color: #1A252F;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	color: #fff;
	text-align: center;
}


	
}





 .harita {
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
    }
    .harita iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

@media only screen and (max-width : 577px){
	
.yoket{display:none!important;}
		
	.card12 {display: none!important;}
}


@media screen and (min-width : 577px){
	#a{display:none;}
	#b{display: none;}

}
